.git
.github
.gitignore
.gitlab-ci.yml
.travis.yml

node_modules/
.npm/
npm-debug.log*

test/
tests/
coverage/
.nyc_output/
examples/

logs/
*.log
server.pid
*-audit.json

.env
.env.*
!.env.example

.idea/
.vscode/
*.iml
*.swp
*.swo
.DS_Store

docs/
README.md
CITATION.cff
LICENSE.md

k8s/
deployment.yaml
tmp/

src/views/assets/
